# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\merzl\OneDrive - ФГОБУ ВО Финансовый университет при Правительстве РФ\Java\4 семестр (2 курс)\ClientAuto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
